__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.docs-venv
uv.lock
rlinf/envs/maniskill/assets
PKG-INFO
RLinf-Pi0-LIBERO-Spatial-Object-Goal-SFT/
RLinf-Pi05-LIBERO-SFT/
RLinf-Pi05-ManiSkill-25Main-SFT/
RLinf-Pi0-LIBERO-Long-SFT/
RLinf-Pi05-MetaWorld-SFT/
*.egg-info/
